.nav{
    align-items: center;
display: flex;
justify-content: space-between;
padding: 20px 7%;
}
body{
    background-color: black;
}

.header{
    background-color: #160e0c;
  
    padding: 0px;
    width: 100%;
    height: 20%;
}
.para{
    margin-left: 370px;
    margin-right: 358px;
    text-align: justify;
}

.container{
background-color:black;
border-radius: 20%;
}
.flex-container-two a {
    text-decoration: none;
    color: black;
  }
  .flex-container-two {
    display: flex;
    background-color: black;
    margin-left: -36px;
        }
  .flex-container-two > div {
          background-color:  black;
          margin: 10px;
          padding: 20px;
          font-size: 30px;
          border-radius: 20px;
        }
.flex-container-three a {
    text-decoration: none;
    color: black;
  }
  .flex-container-three {
    display: flex;
    background-color:black;
    margin-left: -36px;
        }
  .flex-container-three > div {
          background-color:  black;
          margin: 10px;
          padding: 20px;
          font-size: 30px;
          border-radius: 20px;
        }

        .btn {
          background-color:white;
          color: black;
          font-size: 20px;
          text-decoration: none;
          cursor:pointer;
          border-radius: 28px;
          padding: 11px 109px;
      
         
      }
.text{
margin-left: 378px;
margin-right: 391px;
text-align: justify;
}
h1{
    text-align: center;
    color: white;
}
h2{
    font-size: 20px;
    color: white;
}
img{
justify-content: center;
}
p{
font-size: large;
color: white;
}
.centre{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #160e0c;
  
    color: white;
    margin-top: 33px;
   margin-left: -10px;
   margin-right: -6px;
}
  img{
    border: 10px  #160e0c;
  }