.header{
    background-color: black;
    width: 100%;
    height: 60px;
}
.container{
    margin-left:0;
    margin-right:0;
    
}
.container-one{
    margin-top: 401px;
    margin-left: -761px;
    margin-right: 153px;
}
.container-two{
    margin-top: -20px;
    margin-left: 357px;
}
.sub1{
    margin-top: 0;
margin-left: 41px;
margin-right: 621px;  
}
.sub2{
    margin-top: 0;
margin-left: 41px;
margin-right: 621px;   
}
.sub3{
margin-top: 0;
margin-left: 41px;
margin-right: 621px;  
}
.sub4{
    margin-top: 27px;
    margin-left: 41px;
    margin-right: 621px;
  }

.sub5{
    margin-top: 0;
    margin-left: 41px;
    margin-right: 621px;  
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: 'clanotbold';
    color: blueviolet;
    font-size: 30px;
    background-color: aliceblue;
    padding: 23px;
}
.text-one{
    text-align: justify;
    margin-top: -364px;
    margin-left: 891px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-right: 14px;
}
.text{
    text-align: justify;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn {
    background-color:black;
    color: yellow;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
    border-radius: 28px;
    padding: 11px 109px;
    margin-left: 573px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
img{
    border: 5px solid black;
}

